<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <title>Document</title>
</head>
<body>
    <div class="oroszlan"></div>
    <div class="zsiraf"></div>
    <div class="majom"></div>
    <div class="cont">
        <div class="form">
            <h1>Állatok</h1>
    <form method="post">
        <p>
        <label>
            Állat neve: <br>
            <input type="text" name="allatNev">
        </label>
    </p>
    <p>
        <Label>
            Állat életkora:<br>
            <input type="number" name="allatEletkor">
        </Label>
    </p>
        <p>
        <label>
            Állat fajtája:<br>
            <select name="allatFajta">
                <option value="Oroszlán">Oroszlán</option>
                <option value="Majom">Majom</option>
                <option value="Zsiráf">Zsiráf</option>
            </select>
        </label>
        </p>
        <p>
            <button value="Generate" class="gen">Keresés</button>
        </p>
    </form>
</div>
</div>
</body>
</html>